<section id="ubytovani">
    <h2 class="section-title">{{ t('ubytovani.title') }}</h2>
    <p class="section-subtitle">{{ t('ubytovani.subtitle') }}</p>
    <div class="grid-3">
        <div class="card" v-for="room in data.ubytovani" :key="room.id">
            <span class="card-tag" v-if="room.price">{{ t('ubytovani.price_from', { price: room.price }) }}</span>
            <span v-if="room.id === 'junior'" class="card-tag">{{ t('ubytovani.card_tag_junior') }}</span>
            <span v-if="room.id === 'premium'" class="card-tag">{{ t('ubytovani.card_tag_premium') }}</span>
            <img :src="room.img" :alt="t('rooms.' + room.id + '.title')" loading="lazy" @click="openLightbox(room)" class="clickable-image">
            <div class="card-content">
                <h3>{{ t('rooms.' + room.id + '.title') }}</h3>
                <p>{{ t('rooms.' + room.id + '.desc') }}</p>
            </div>
        </div>
    </div>
</section>